<div id="<%= dom_id admin %>">
  <div>
    <strong>Username:</strong>
    <%= admin.username %>
  </div>

  <div>
    <strong>Password digest:</strong>
    <%= admin.password_digest %>
  </div>

  <div>
    <strong>Name:</strong>
    <%= admin.name %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= admin.email %>
  </div>

</div>
