<p style="color: green"><%= notice %></p>

<% content_for :title, "Admin" %>

<h1>Admin Dashboard</h1>

<div id="admin">
  <% @admins.each do |admin| %>
    <%= render admin %>
  <% end %>
</div>

<div>
  <%= link_to "Edit Profile", "/admin/profile/edit" if @admins.any? %> |
  <%= link_to "View Analytics", analytics_path %> |
  <%= link_to "Manage Events", events_path %> |
  <%= link_to "Manage Volunteers", volunteers_path %> |
  <%= link_to "Manage Assignments", volunteer_assignments_path %>
</div>
